div.node-moderation-form-wrapper {
  display: block;
  float: left;
  z-index: 999;
}

.node-moderation-form-wrapper .form-item {
  padding: 0 0 0 0;
}
div.view-journalstream-queue .node {
  display: block;
}

div.view-journalstream-queue .journalstream-content-wrapper {
  margin-left: 180px;
  display: block;
  z-index: 1;
}

div.view-display-id-preview .node {
  margin-left: 0;
}
div.view-journalstream-queue .node {
  background: none;
}

/** Theme Papers inside a collection **/
.field-name-field-papers div.field-items {
  margin-left: 5px;
}
.field-name-field-papers .field-items .field-item{
  padding: 5px 5px 5px 5px;
  margin: 2px 2px 2px 2px;
  background-color: #eee;
  border: 1px solid #ddd;
}
